input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#sku-error-text,
#name-error-text,
#price-error-text,
#bad-price-input-text,
#selector-error-text,
#dvdInputError,
#bookInputError,
#heightInputError,
#widthInputError,
#lengthInputError {
  color: red;
}
